.navbar {
    display: flex;
    flex-direction: column;
    background-color: #90c290;
    align-items: center;
    justify-content: flex-start;
    border: black;
    border-width: 1px;
    border-style: solid;
    /* padding: 10px; */
    position: fixed;
    right: 150px;
    top: 150px;
}
.btn {
    background-color: #688b58;
    text-align: center;
    color: #afe3c0;
    width: 100px;
    padding: 10px;

    transition: transform 0.1s, background-color 0.3s, color 0.3s;
}
.btn:hover {
    background-color: #8da781;
}
.btn:active {
    background-color: #cacec8;
    color: black;
    box-shadow: 0 0 #666;
    transform: translate(3px, 3px);
}
